In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = ("schools_complete.csv")
student_data_to_load = ("students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
#Calculate the total number of schools
unique_total_schools = school_data_complete["school_name"].value_counts()
total_schools = unique_total_schools.count()
#print(total_schools)

#Calculate the total number of students
total_students = school_data_complete["student_name"].count()
#print(total_students)

#Calculate the total budget
unique_total_budget = school_data_complete["budget"].unique()
total_budget = unique_total_budget.sum()
#print(total_budget)

#Calculate the average math score
math_score = school_data_complete["math_score"].mean()
#print(math_score)

#Calculate the average reading score
reading_score = school_data_complete["reading_score"].mean()
#print(reading_score)

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (math_score + reading_score) /2
#print(overall_passing_rate)

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = (school_data_complete["math_score"] >= 70).sum()
#print(passing_math)
percentage_passed_math = round((passing_math/ total_students)*100,2)
#print(percentage_passed_math)

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = (school_data_complete["reading_score"] >= 70).sum()
#print(passing_reading)
percentage_passed_reading = round((passing_reading/ total_students)*100,2)
#print(percentage_passed_reading)

#Create a dataframe to hold the above results
district_summary = {"Total Schools" : total_schools,
                   "Total Students" : total_students,
                   "Total Budget" : total_budget,
                   "Average Math Score" : math_score,
                   "Average Reading Score" : reading_score,
                    "% Passing Math" : percentage_passed_math,
                   "% Passing Reading" : percentage_passed_reading,
                   "% Overall Passing" : overall_passing_rate
                  }
district_summary_df = pd.DataFrame([district_summary])
district_summary_df = district_summary_df[["Total Schools",
                   "Total Students","Total Budget","Average Math Score", "Average Reading Score",
                   "% Passing Math", "% Passing Reading", "% Overall Passing" ]]
district_summary_df.style.format({"Total Budget": "${:,.2f}", 
                                   "Average Reading Score": "{:.2f}", 
                                   "Average Math Score": "{:.2f}", 
                                   "% Passing Math": "{:.2f}", 
                                   "% Passing Reading": "{:.2f}", 
                                   "% Overall Passing": "{:.2f}"})

In [34]:
#School Type
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [35]:
#Total students per school
total_students_per_school = school_data_complete["school_name"].value_counts()
total_students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [36]:
#Total school budget
budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [37]:
#Budget per student 
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [38]:
#Average Math Score
avg_math_scores = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_math_scores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [39]:
#Average Reading Score
avg_reading_scores = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
avg_reading_scores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [40]:
# % Passing Math by school
passed_math = school_data_complete[(school_data_complete["math_score"]>70)]
passed_math_per_school = passed_math.groupby(["school_name"]).count()["student_name"]
percentage_math_passed = round((passed_math_per_school/total_students_per_school)*100,2)
percentage_math_passed

Bailey High School       64.63
Cabrera High School      89.56
Figueroa High School     63.75
Ford High School         65.75
Griffin High School      89.71
Hernandez High School    64.75
Holden High School       90.63
Huang High School        63.32
Johnson High School      63.85
Pena High School         91.68
Rodriguez High School    64.07
Shelton High School      89.89
Thomas High School       90.21
Wilson High School       90.93
Wright High School       90.28
dtype: float64

In [41]:
# % Passing Reading by school
passed_reading = school_data_complete[(school_data_complete["reading_score"]>70)]
passed_reading_per_school = passed_reading.groupby(["school_name"]).count()["student_name"]
percentage_reading_passed = round((passed_reading_per_school/total_students_per_school)*100,2)
percentage_reading_passed

Bailey High School       79.30
Cabrera High School      93.86
Figueroa High School     78.43
Ford High School         77.51
Griffin High School      93.39
Hernandez High School    78.19
Holden High School       92.74
Huang High School        78.81
Johnson High School      78.28
Pena High School         92.20
Rodriguez High School    77.74
Shelton High School      92.62
Thomas High School       92.91
Wilson High School       93.25
Wright High School       93.44
dtype: float64

In [42]:
# Overall Passing Rate (Average of the above two)
overall_passing_rate = (percentage_math_passed + percentage_reading_passed)/2
overall_passing_rate

Bailey High School       71.965
Cabrera High School      91.710
Figueroa High School     71.090
Ford High School         71.630
Griffin High School      91.550
Hernandez High School    71.470
Holden High School       91.685
Huang High School        71.065
Johnson High School      71.065
Pena High School         91.940
Rodriguez High School    70.905
Shelton High School      91.255
Thomas High School       91.560
Wilson High School       92.090
Wright High School       91.860
dtype: float64

In [43]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Type":school_type,
                                 "Total Students":total_students_per_school,
                                 "Total School Budget":budget_per_school,
                                  "Budget per student":budget_per_student,
                                 "Average Math Score":avg_math_scores,
                                 "Average Reading Score":avg_reading_scores,
                                 "% Passing Math":percentage_math_passed,
                                 "% Passing Reading":percentage_reading_passed,
                                 "Overall Passing rate":overall_passing_rate})
school_summary_df

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,64.63,79.30,71.965
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.56,93.86,91.710
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.75,78.43,71.090
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,65.75,77.51,71.630
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,89.71,93.39,91.550
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.75,78.19,71.470
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.63,92.74,91.685
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.32,78.81,71.065
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.85,78.28,71.065
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.68,92.20,91.940
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.07,77.74,70.905
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,89.89,92.62,91.255
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,90.21,92.91,91.560
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.93,93.25,92.090
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.28,93.44,91.860

In [44]:
# Sort and display the top five schools in overall passing rate
top_five_schools = school_summary_df.sort_values(["Overall Passing rate"],ascending = False)
top_five_schools.head()

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.93,93.25,92.090
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.68,92.20,91.940
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.28,93.44,91.860
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.56,93.86,91.710
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.63,92.74,91.685

In [45]:
# Sort and display the five worst-performing schools
worst_five_schools = school_summary_df.sort_values(["Overall Passing rate"],ascending = True)
worst_five_schools.head()

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.07,77.74,70.905
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.32,78.81,71.065
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.85,78.28,71.065
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.75,78.43,71.090
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.75,78.19,71.470

In [46]:
# math scores per grade
avg_math_scores_grade = round(school_data_complete.groupby(["grade"]).mean()["math_score"],2)
avg_math_scores_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

In [47]:
#list the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

nineth_graders_scores = nineth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]


math_scores_by_grade_df = pd.DataFrame({"9th": nineth_graders_scores,
                                "10th":tenth_graders_scores,
                                "11th":eleventh_graders_scores,
                                "12th":twelfth_graders_scores
})
math_scores_by_grade_df.index.name = None
math_scores_by_grade_df = math_scores_by_grade_df [["9th", "10th", "11th", "12th"]]
math_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [48]:
#list the average reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school
nineth_graders_scores_r = nineth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores_r = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores_r = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores_r = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]


reading_scores_by_grade_df = pd.DataFrame({"9th": nineth_graders_scores_r,
                                "10th":tenth_graders_scores_r,
                                "11th":eleventh_graders_scores_r,
                                "12th":twelfth_graders_scores_r
})
reading_scores_by_grade_df.index.name = None
reading_scores_by_grade_df = reading_scores_by_grade_df [["9th", "10th", "11th", "12th"]]
reading_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [65]:
#Use 4 reasonable bins to group school spending
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
pd.cut(school_summary_df["Budget per student"], spending_bins, labels=group_names).head()
school_summary_df["Spending Ranges (per student)"] = pd.cut(school_summary_df["Budget per student"], 
                                                            spending_bins, labels=group_names)

school_group = school_summary_df.groupby("Spending Ranges (per student)")
#school_summary_df.columns
school_group[['Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', 'Overall Passing rate']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Spending Ranges (per student),,,,,
<$585,83.455399,83.933814,90.350000,93.322500,91.836250
$585-615,83.599686,83.885211,90.785000,92.410000,91.597500
$615-645,79.079225,81.891436,73.020000,83.213333,78.116667
$645-675,76.997210,81.027843,63.973333,78.426667,71.200000

In [68]:
#Use 4 reasonable bins to group school size
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names).head()
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], 
                                                            size_bins, labels=group_names)

school_group = school_summary_df.groupby("School Size")
#school_summary_df.columns
school_group[['Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', 'Overall Passing rate']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
School Size,,,,,
Small (<1000),83.821598,83.929843,91.15500,92.47000,91.8125
Medium (1000-2000),83.374684,83.864438,89.93000,93.24400,91.5870
Large (2000-5000),77.746417,81.344493,67.63125,80.18875,73.9100

In [69]:
#Use 4 reasonable bins to group school type

school_group = school_summary_df.groupby("School Type")
#school_summary_df.columns
school_group[['Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', 'Overall Passing rate']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
School Type,,,,,
Charter,83.473852,83.896421,90.361250,93.051250,91.706250
District,76.956733,80.966636,64.302857,78.322857,71.312857

In [ ]:
#Observations:
# 1. Charter schools overall do better that District schools in terms of passing the subjects
# 2. Small and Medium class sizes overall do better than large class sizes
# 3. There is not a direct correlation with high school spending and better scores