In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = ("schools_complete.csv")
student_data_to_load = ("students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#Calculate the total number of schools
unique_total_schools = school_data_complete["school_name"].value_counts()
total_schools = unique_total_schools.count()
#print(total_schools)

#Calculate the total number of students
total_students = school_data_complete["student_name"].count()
#print(total_students)

#Calculate the total budget
unique_total_budget = school_data_complete["budget"].unique()
total_budget = unique_total_budget.sum()
#print(total_budget)

#Calculate the average math score
math_score = school_data_complete["math_score"].mean()
#print(math_score)

#Calculate the average reading score
reading_score = school_data_complete["reading_score"].mean()
#print(reading_score)

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (math_score + reading_score) /2
#print(overall_passing_rate)

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = (school_data_complete["math_score"] >= 70).sum()
#print(passing_math)
percentage_passed_math = round((passing_math/ total_students)*100,2)
#print(percentage_passed_math)

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = (school_data_complete["reading_score"] >= 70).sum()
#print(passing_reading)
percentage_passed_reading = round((passing_reading/ total_students)*100,2)
#print(percentage_passed_reading)

#Create a dataframe to hold the above results
district_summary = {"Total Schools" : total_schools,
                   "Total Students" : total_students,
                   "Total Budget" : total_budget,
                   "Average Math Score" : math_score,
                   "Average Reading Score" : reading_score,
                    "% Passing Math" : percentage_passed_math,
                   "% Passing Reading" : percentage_passed_reading,
                   "% Overall Passing" : overall_passing_rate
                  }
district_summary_df = pd.DataFrame([district_summary])
district_summary_df = district_summary_df[["Total Schools",
                   "Total Students","Total Budget","Average Math Score", "Average Reading Score",
                   "% Passing Math", "% Passing Reading", "% Overall Passing" ]]
district_summary_df.style.format({"Total Budget": "${:,.2f}", 
                                   "Average Reading Score": "{:.2f}", 
                                   "Average Math Score": "{:.2f}", 
                                   "% Passing Math": "{:.2f}", 
                                   "% Passing Reading": "{:.2f}", 
                                   "% Overall Passing": "{:.2f}"})

In [4]:
#School Type
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [5]:
#Total students per school
total_students_per_school = school_data_complete["school_name"].value_counts()
total_students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [6]:
#Total school budget
budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [7]:
#Budget per student 
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [8]:
#Average Math Score
avg_math_scores = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_math_scores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [9]:
#Average Reading Score
avg_reading_scores = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
avg_reading_scores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [12]:
# % Passing Math by school
passed_math = school_data_complete[(school_data_complete["math_score"]>70)]
passed_math_per_school = passed_math.groupby(["school_name"]).count()["student_name"]
percentage_math_passed = round((passed_math_per_school/total_students_per_school)*100,2)
percentage_math_passed

Bailey High School       64.63
Cabrera High School      89.56
Figueroa High School     63.75
Ford High School         65.75
Griffin High School      89.71
Hernandez High School    64.75
Holden High School       90.63
Huang High School        63.32
Johnson High School      63.85
Pena High School         91.68
Rodriguez High School    64.07
Shelton High School      89.89
Thomas High School       90.21
Wilson High School       90.93
Wright High School       90.28
dtype: float64

In [ ]:
# % Passing Reading by school
passed_math = school_data_complete[(school_data_complete["math_score"]>70)]
passed_math_per_school = passed_math.groupby(["school_name"]).count()["student_name"]
percentage_math_passed = round((passed_math_per_school/total_students_per_school)*100,2)
percentage_math_passed